 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin:0px;
  padding:0px;
  display:flex;
}

/* place the contents side by side to each other */
/* rightmenu img */
.left-menu,img{
  width:50%;
  height:60vh;
  float:left;
  margin-left:19%;
  visibility:visible;
}

.right-menu{
margin-right: 50px;


  
}

 /* img-right */
.min-img{
  width:20%;
  height:10vh;
  margin-left:0%;

  

  

}
/* span */
span{
  text-transform: capitalize;
  font-size: bold;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  display:grid;
  margin-top:10%;

  
}
.right-content{
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

}
/* style the btn */
button{
  width:30vw;
  height: 50px;
  margin-right:10px;
  margin:10px;
  border-radius: 6px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
  

}
.btn-btn{
  background-color: red;
  color:white;
  border:none;
}
.btn-btns{
  color:red;
}

.fa-solid{
  float: center;
  font-size: 2rem;
  padding:2% 58%;
  margin:12px 25px;
}

@media only screen and (max-width:600px) {
  /* for mobile */
  .left-menu,img{
    width:100%;
    height:50px;
    visibility: hidden;


  }

  .min-img{
    text-align:left;
    font-size:1rem;
    width:100%;
    margin-right:40px;
    visibility: visible;
  }
  span{
    top:20px;
    margin-left:0px;
  }
  .right-menu{
    display:inline-block;  
    position:relative; 
    }
    button{
      width:100vw;
      height: 10vh;
      border-radius: 6px;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 1rem;
      text-align: center;
    
    }
    .right-content{
      text-transform: capitalize;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      margin:10px;
    
    }

    .fa-solid{
      float: right;
      font-size: 2rem;
      padding:2% 58%;
      margin:5px;
      top:5px;
      color:red;
    }
}